@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,700;6..12,800;6..12,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background: url(../img/header-backround-students.svg) no-repeat left;
  height: 100vh;
  min-height: 728px;
  padding: 0 100px;
}
@media screen and (max-width: 1441px) {
  .header {
    padding: 0 50px;
  }
}
@media screen and (max-width: 509px) {
  .header {
    padding: 0 30px;
  }
}
.header-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  max-width: 1340px;
}
.header-navbar .logo {
  display: flex;
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
  cursor: pointer;
  align-items: center;
  text-decoration: none;
}
.header-navbar .logo img {
  width: 2rem;
  margin-right: 0.5rem;
}
.header-navbar .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.header-navbar .menu li {
  margin: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-navbar .menu li a {
  color: #eee;
  text-decoration: none;
}
.header-navbar .menu li a:hover {
  color: #fff;
}
@media screen and (max-width: 967px) {
  .header-navbar .menu li {
    margin: 2.5rem 0;
    font-size: 30px;
    font-weight: 700;
  }
}
@media (max-width: 967px) {
  .header-navbar .menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #007170;
    width: 100%;
    height: 100vh;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    z-index: 999;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
}
.header-navbar .menu.active {
  left: 0;
}
.header-navbar .hamburger {
  display: none;
}
@media screen and (max-width: 967px) {
  .header-navbar .hamburger {
    display: block;
    cursor: pointer;
  }
}
.header-navbar .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.header-navbar .hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.header-navbar .hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.header-navbar .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.header-content .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  max-width: 1600px;
}
@media screen and (max-width: 1387px) {
  .header-content .container {
    gap: 0;
  }
}
.header-content .content {
  margin-top: 80px;
}
.header-content .content__title {
  width: 540px;
  font-size: 3rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: 3rem;
  line-height: 126.9%;
  letter-spacing: 1.28px;
}
.header-content .content__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 4px;
  margin-top: 10px;
  background-color: #3ADAD9;
}
@media screen and (max-width: 626px) {
  .header-content .content__title {
    width: auto;
    font-size: 2.5rem;
  }
}
.header-content .content__subtitle {
  width: 220px;
  font-size: 18px;
  font-weight: 500;
  color: #606060;
  margin-bottom: 10px;
  background-color: #fff;
  padding-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
@media screen and (max-width: 473px) {
  .header-content .content__subtitle {
    width: 180px;
    font-size: 14px;
  }
}
.header-content .content__text {
  max-width: 425px;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
}
.header-content .content__button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background: #F7C92C;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.header-content .content__button:hover {
  background: #000;
  color: #fff;
}
.header-content .content a:last-child {
  margin-left: 20px;
}
.header-content .content a:last-child button {
  background: #fff;
  color: #000;
}
@media screen and (max-width: 967px) {
  .header-content .content a:last-child {
    display: block;
    margin-left: 0;
    margin-top: 20px;
  }
}
.header-content .img img {
  width: 100%;
  min-width: 636px;
}
@media screen and (max-width: 1265px) {
  .header-content .img img {
    max-width: 300px;
    width: 80%;
    min-width: 75%;
    margin-right: 100px;
  }
}
@media screen and (max-width: 967px) {
  .header-content .img img {
    display: none;
  }
}

main .section-partner .container {
  padding: 0 100px;
}
@media screen and (max-width: 1441px) {
  main .section-partner .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 509px) {
  main .section-partner .container {
    padding: 0 30px;
  }
}
main .section-partner h2 {
  font-size: 36px;
  font-weight: 700;
  color: #2D3150;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}
main .section-partner .content__partner img {
  display: block;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 965px) {
  main .section-partner .content__partner img {
    height: 100px;
  }
}
main .section-partner .content__partner span {
  display: block;
  text-align: center;
  font-size: 24px;
}
main .section-features {
  padding-top: 150px;
}
main .section-features .container {
  padding: 0 100px;
}
@media screen and (max-width: 1441px) {
  main .section-features .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 509px) {
  main .section-features .container {
    padding: 0 30px;
  }
}
main .section-features .section__title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}
main .section-features .section__content {
  display: flex;
  margin-top: 100px;
}
@media screen and (max-width: 998px) {
  main .section-features .section__content {
    display: grid;
    grid-template-columns: repeat(1, 500px);
    justify-content: center;
    row-gap: 80px;
  }
}
@media screen and (max-width: 509px) {
  main .section-features .section__content {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    row-gap: 80px;
  }
}
main .section-features .section__item {
  text-align: center;
}
main .section-features .section__item-content h3 {
  margin-bottom: 20px;
  color: #2B3377;
  font-weight: 800;
}
main .section-features .section__item-content p {
  display: block;
  color: #585858;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
main .section-features .section__item-img {
  margin-bottom: 20px;
}

.section-for-students {
  background-color: #FAFAFF;
  margin-top: 200px;
}
.section-for-students .container {
  display: flex;
  gap: 200px;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1441px) {
  .section-for-students .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 967px) {
  .section-for-students .container {
    gap: 0;
    justify-content: normal;
  }
}
@media screen and (max-width: 509px) {
  .section-for-students .container {
    padding: 0 30px;
  }
}
.section-for-students .section__image {
  margin-top: 40px;
  margin-bottom: 40px;
}
.section-for-students .section__img {
  width: 100%;
  min-width: 300px;
  margin-top: 20px;
}
@media screen and (max-width: 1465px) {
  .section-for-students .section__img {
    display: block;
    margin-top: 40px;
  }
}
@media screen and (max-width: 967px) {
  .section-for-students .section__img {
    display: none;
  }
}
.section-for-students .section__title {
  font-size: 36px;
  color: #4A4A4A;
  margin-bottom: 50px;
  margin-top: 50px;
}
.section-for-students .section__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 4px;
  margin-top: 10px;
  background-color: #F7C92C;
}
@media screen and (max-width: 967px) {
  .section-for-students .section__title {
    margin-top: 50px;
  }
}
.section-for-students .section__text {
  color: #575757;
  font-size: 20px;
  width: 75%;
}
@media screen and (max-width: 1165px) {
  .section-for-students .section__text {
    width: 100%;
  }
}
@media screen and (max-width: 967px) {
  .section-for-students .section__text {
    max-width: 700px;
    width: 100%;
  }
}
.section-for-students .section__button {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #4B4AEF;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
}
.section-for-students .section__button:hover {
  background: #000;
  color: #fff;
}

.section-for-company {
  background-color: #FAFAFF;
}
.section-for-company .container {
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1441px) {
  .section-for-company .container {
    padding: 0 50px;
  }
}
@media screen and (max-width: 509px) {
  .section-for-company .container {
    padding: 0 30px;
  }
}
.section-for-company .section__image {
  margin-top: 40px;
}
.section-for-company .section__img {
  width: 75%;
  margin-top: 20px;
}
@media screen and (max-width: 1465px) {
  .section-for-company .section__img {
    display: block;
    margin-top: 40px;
  }
}
@media screen and (max-width: 967px) {
  .section-for-company .section__img {
    display: none;
  }
}
.section-for-company .section__title {
  font-size: 36px;
  color: #4A4A4A;
  margin-bottom: 50px;
  margin-top: 50px;
}
.section-for-company .section__title::after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 4px;
  margin-top: 10px;
  background-color: #F7C92C;
}
@media screen and (max-width: 967px) {
  .section-for-company .section__title {
    margin-top: 50px;
  }
}
.section-for-company .section__text {
  color: #575757;
  font-size: 20px;
  width: 75%;
}
@media screen and (max-width: 1165px) {
  .section-for-company .section__text {
    width: 100%;
  }
}
@media screen and (max-width: 967px) {
  .section-for-company .section__text {
    max-width: 700px;
    width: 100%;
  }
}
.section-for-company .section__button {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background: #4B4AEF;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
}
.section-for-company .section__button:hover {
  background: #000;
  color: #fff;
}

.footer {
  background: #CBCBFF;
}
.footer .container {
  padding: 100px 100px;
  text-align: center;
}
@media screen and (max-width: 1441px) {
  .footer .container {
    padding: 80px 50px;
  }
}
@media screen and (max-width: 509px) {
  .footer .container {
    padding: 40px 20px;
  }
}
.footer__span {
  color: #EB801D;
  font-size: 20px;
  font-weight: 700;
}
.footer__title {
  font-size: 36px;
  color: #2D3150;
}
@media screen and (max-width: 509px) {
  .footer__title {
    font-size: 30px;
  }
}
.footer__subtitle {
  font-weight: 400;
  font-size: 24px;
}
@media screen and (max-width: 509px) {
  .footer__subtitle {
    font-size: 18px;
  }
}
.footer__instagram {
  position: relative;
  display: block;
  width: 300px;
  padding: 20px 0;
  background: #E8E9FF;
  border-radius: 20px;
  margin: 0 auto;
  z-index: 2000;
  margin-top: 50px;
}
.footer__link-instagram {
  display: flex;
  align-items: end;
  position: relative;
  width: 300px;
  background: #B2B5FF;
  border-radius: 20px;
  margin: 0 auto;
  top: -20px;
  text-decoration: none;
}
.footer__link-instagram span {
  display: block;
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
  font-weight: 700;
}